.checklistContainer {
  opacity: 0;
  transform: translateY(5px);
  transition: 0.5s;
}

.checklistContainer.active {
  opacity: 1;
  transform: translateY(0);
}

.checklistContainer h2 {
  margin: 0 0 5px;
}

.checklistContainer p {
  font-size: 15px;
}

.checklistContainer ul {
  padding: 0;
  margin: 0 0 10px;
  list-style-type: none;
}
.checklistContainer ul li:not(:last-child) {
  margin-bottom: 20px;
}