.check-container {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
}

.check-container input {
  width: auto;
  margin: 0;
}

.check-container .check-label-container {
  padding-left: 10px;
}

.check-container .check-label-container span {
  display: block;
}

.check-container .check-label-container .check-example {
  font-size: 10px;
  margin-top: 5px;
  color: #333;
}