.doneContainer {
  text-align: center;
  opacity: 0;
  transform: translateY(5px);
  transition: 0.5s;
}

.doneContainer.active {
  opacity: 1;
  transform: translateY(0);
}

.doneContainer p:first-child {
  font-size: 22px;
  font-weight: bold;
}

.doneContainer p:not(:first-child) {
  font-size: 17px;
}

.doneContainer p a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.doneContainer p a:hover {
  color: #3d529f;
  text-decoration: underline;
}